body {
    background-size: cover;
    background-image: url("./icon/hero.jpeg");
}

#navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px #161c91 solid;
    border-radius: 60px;
    box-sizing: border-box;
    width: fit-content;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0 3px 0 3px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    
    transition: all 0.3s ease-in-out;
}

a {
    cursor: pointer;
    margin: 7px;
    padding: 5px;
    border: transparent solid 2.5px;
    border-radius: 15px;
    text-decoration: none;
    color: black;
}

a:hover {
    color: #161c91;
    background-color: #f1fafb;
    border: #7ea6f4 solid 2.5px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* we can remove this two sets as it's already there in logo.css and can import in index.html */
#logos>h1 {
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: underline;
    text-decoration-color: black;
    font-size: 2.5rem;
}

#logos>strong {
    font: 1em sans-serif;
    font-weight: bolder;
    font-size: 0.8rem;
}

#navigation_phone {
    display: none;
}

@media screen and (max-width: 1030px) {
    body {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    #navigation {
        display: none;
    }

    #logos>h1 {
        font-size: 1.6rem;
    }

    #logos>strong {
        font-size: 0.5rem;
    }

    #navigation_phone {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem 2rem;
        background: rgba(255, 255, 255, 0.25);
        backdrop-filter: blur(4px);
        -webkit-backdrop-filter: blur(4px);
        border: 1px solid rbgs(255, 255, 255, 0.18);
        
    }
}